canvas {
  width:100%;
  height:100%;
  position:relative;
}

body { 
  margin:0;
  background:black
}

.CodeMirror{
  background:transparent !important
}
.CodeMirror-highlight {
  background-color:rgba(89, 151, 198, .85) !important
}
.CodeMirror-selected {
  background-color:rgba(89, 151, 198, .85) !important
}

.Codemirror-activeline-background {
  background:rgba(255,255,255,.2)
}
.CodeMirror pre {
  background-color: rgba( 0,0,0,.75 ) !important;

  float:left !important;
  clear:left !important;

  font-family:Menlo, sans-serif !important;
}

.CodeMirror-linenumber {
  float:none !important;
  clear:none !important;
}

.CodeMirror-gutter { 
  background:black
}
#help {
  position:absolute;
  top:0; right:0;
  z-index:10
}
.panel{
  position:absolute;
  bottom:0; left:0;
  width:100%;
  height:20em;
  background:gray;
  font-family:sans-serif;
  padding: 0 5px;
  box-sizing:border-box;
  font-size:.85em;
  overflow:scroll;
}
.remove-panel{
  position:absolute;
  right:0;
  color:darkred;
}

.panel ul {
  padding:0;
  margin:0
}

.panel ul li {
  margin-top:.5em
}

select {
  position:absolute;
  right: 3em;
  top:0;
  z-index:10
}

.CodeMirror {
  font-family: 'Menlo','Source Code Pro', monospace;
  font-size: .7em;
  background-color:#bbb;
  color:#000;
  font-weight:500;
}
.CodeMirror {
  font-family:Menlo, monospace;
  font-size:.8em;
  background:rgba(46,50,53,1);
  color:rgb( 153 ) !important
}

span.cm-comment { color:rgb(121,121,121) !important }

span.cm-property, 
span.cm-attribute,
span.cm-variable,
span.cm-variable-2,
.cm-def,
.cm-s-default { color: rgba(173,173,173,1) !important }

span.cm-keyword,
span.cm-number, span.cm-atom { color:rgba(89, 151, 198, 1) !important }

span.cm-string {color: rgb(225, 225, 225) !important }

.CodeMirror-cursor {
  background: rgba(255,255,255,.5);
  border: none !important;
  width: .5em !important;
  display: block;
}

/*.CodeMirror-selected {*/
/*  background:rgba(84,84,84,.5) !important;*/
/*}*/
